# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
leave_system_env/
env/
ENV/
*.env
*.venv

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Migrations (optional – usually keep them in repo)
# **/migrations/*.py
# **/migrations/*.pyc

# Local settings
local_settings.py

# Jupyter
.ipynb_checkpoints

# Docker
*.pid
